.presentation-container {
    height: 90vh;
    background-color: var(--background-color-header);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.presentation-h1 {
    margin: 0;
    color: var(--main-color);
    font-family: "Roboto", verdana;
    letter-spacing: 1.4px;
}

.presentation-p {
    color: var(--primary-font-color);
    font-size: 1.4rem;
    font-family: monospace;
    border: 1px solid var(--primary-font-color);
    width: 25%;
    padding: .5rem;
}