.project-container {
    background: var(--background-color-presentation);
    padding-top: 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.project-p {
    grid-column: 1/3;

    color: var(--main-color);
    font-size: 1.5rem;
}