.project-container {
    background: var(--background-color-presentation);
    padding: 2rem 0;

    /*display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 1fr 1fr;
    gap: 1rem;
    justify-items: center;*/
}/*
.project-p {
    grid-column: 1/3;

    color: var(--main-color);
    font-size: 1.5rem;
}
*/

.project-p {
    display: flex;
    justify-content: center;

    color: var(--main-color);
    font-size: 1.5rem;
}

.swiper {
    margin-left: 10rem;
}

.project-mySwiper {
    width: 80vw;
    padding: 2rem 1rem !important;
}

.projectItem-container {
    width: 13vw;
}

.projectItem-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s;
    cursor: pointer;
    opacity: .6;
}

.projectItem-span {
    position: absolute;
    width: 13vw;
    top: 50%;
    left: 0;
    text-decoration: none;
    color: var(--primary-font-color);
    transition: transform 0.2s;
    font-family: "Roboto", verdana;
    letter-spacing: 1.8px;
}

.projectItem-a:hover .projectItem-img {
    transform: scale(1.1);
    z-index: 100;
    opacity: .6;
}

.projectItem-a:hover .projectItem-span {
    transform: scale(1.1);
}