.skills-container {
    display: flex;
    justify-content: space-evenly;
    
    padding-left: 5rem;
    background-color: var(--background-color-skills);
}

.skills-ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    list-style: none;
    padding: 0;

    width: 20vw;
    font-size: 1.5rem;
    color: var(--primary-font-color);
}

.skills-ul__li {
    margin: 0.5rem 1rem;
    white-space: nowrap;
}

.skills-ul__p {
    position: relative;
    cursor: pointer;
    letter-spacing: 1px;
}

.skills-ul__p::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -4px;
    transition: width 0.3s ease-in;
}

.skills-ul__p:hover::after {
    width: 100%;
}

.skills-section {
    margin: 4rem;
    padding: 2rem;
    border: 5px solid var(--main-color);
    width: 40vw;
}

.skills-section__p {
    color: #fff;
    word-wrap: break-word;
}

@media only screen and (max-width: 768px) { 
    .skills-container {
        padding-left: 0;
    }
    .skills-ul {
        justify-content: space-evenly;
        width: auto;
        font-size: 1rem;
        padding-left: 1.5rem;
    }

    .skills-section {
        width: 60vw;
        margin: 1rem;
        padding: 1rem;
    }
    
    .skills-ul__li {
        margin: 0.5rem 0rem;
        padding-left: 0.5rem;
    }

    .skills-section__p {
        font-size: .9rem;
    }
}

@media only screen and (max-width: 500px) { 
    .skills-container {
        flex-direction: column;
    }

    .skills-ul {
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 0;

    }

    .skills-section {
        width: auto;
    }
}