.container-backgorund {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.container-modal {
    width: 60vw;
    min-height: 30vh;
    background: #fff;
    position: relative;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, .2) 0px 7px 29px 0px;
    padding: 20px;
    background-color: var(--background-color-presentation);
    color: var(--primary-font-color);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-modal__div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    font-size: 1.3em;
    margin-bottom: .8rem;
}

.container-modal__button {
    cursor: pointer;
}

.container-modal__p {
    align-self: flex-start;
}

.container-modal__chidren {
    width: 100%;
}