@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
    --background-color-header: #222;
    --primary-font-color: #fff;
    --main-color: #ff3c78;
    --background-color-presentation: #333;
}